<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB1vdmYsoUQjGp5-JLhF6O6li80OXH2J7A</string>
	<key>GCM_SENDER_ID</key>
	<string>746802212180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.invitation</string>
	<key>PROJECT_ID</key>
	<string>invitation-2ea60</string>
	<key>STORAGE_BUCKET</key>
	<string>invitation-2ea60.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746802212180:ios:d9458d60a21e1a4b6bacc1</string>
</dict>
</plist>